RewriteEngine on   

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d        //此处有大坑。加上这两句可保证一般css、js文件正常加载。(注意删掉这句注释哦)
 
RewriteCond $1 !^(index\.php|images|robots\.txt)   
RewriteRule ^(.*)$ /TestCI/index.php/$1 [L]
